body {
    background-color: blue;
    margin: 0;
    height: 60vh;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

form {
    width: 400px;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    gap:10px
}

label {
    color: aqua;
}